@charset "utf-8";

:root {
  --time: 8s;
  --height0: 6em;
  --height1: calc(var(--height0) - 40px);   /* 320px */
  --height2: calc(-1 * (var(--height1) + 5px)); /* -325px */
  --height3: calc(var(--height1) + 5px); /* 325px */
}


.content-slider {
  width: 100%;
  height: var(--height0);
	margin-top: -2em;
}

.slider {
  height: var(--height1);
  width: 100%;
  max-width: 700px;
  margin: 0px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: var(--height1);
  -webkit-mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, transparent 100%);
  mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, transparent 100%);
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 100%;
  max-width: 700px;
  height: var(--height1);
  position: absolute;
  top: var(--height2);
  list-style: none;
}

.slider .text {
	padding-top: 1.1em;
	font-weight: 300;
	font-size: 0.85em;
	text-align: center;
}

.slider .source {
  font-size: 15px;
  text-align: right;
}


.slider li.anim1 {
  animation: cycle var(--time) linear infinite;
}

.slider li.anim2 {
  animation: cycle2 var(--time) linear infinite;
}

.slider li.anim3 {
  animation: cycle3 var(--time) linear infinite;
}

.slider li.anim4 {
  animation: cycle4 var(--time) linear infinite;
}

.slider li.anim5 {
  animation: cycle5 var(--time) linear infinite;
}


/*
.slider:hover li {
  animation-play-state: paused;
}

.slider:hover li > div{
  animation-play-state: paused;
  cursor: pointer;
}
*/

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: var(--height3);
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: var(--height2);
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: var(--height2);
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: var(--height2);
    opacity: 0;
  }
  16% {
    top: var(--height2);
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: var(--height3);
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: var(--height2);
    opacity: 0;
  }
  36% {
    top: var(--height2);
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: var(--height3);
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: var(--height2);
    opacity: 0;
  }
  56% {
    top: var(--height2);
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: var(--height3);
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: var(--height2);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: var(--height2);
    opacity: 0;
  }
  76% {
    top: var(--height2);
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: var(--height3);
    opacity: 0;
    z-index: 0;
  }
}